@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(13, 12, 59, 0.349),
    rgba(149, 208, 250, 0.109)), url(./images/f67c5bcf0e2917240de3f87cb60a45e0.jpg);
    background-repeat: no-repeat;
    /* background-position:; */
    background-attachment: fixed;
    background-size:contain;
    background-size: cover;
    background-position: center;
    background-position-y: top;

}

footer {
    background-color:#1b1b1b;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;

}

.headerLogo {
    font-size: 35px;
    color: #ffff;
    margin: 16px;
    flex-shrink: 0;
    margin-right: 250px;
    margin-left: 70px;
}

.headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    margin-right: 30px;
}

ul li {
    display: inline;
    list-style: none;
    margin-left: 10px;
}

ul li a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 30px;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    margin-bottom: 180px;
    margin-top: 80px;

}


.leftSide {
    width: 650px;
    align-items: baseline;
    margin: 40px;
    margin-right: 150px;
}

.mainTitle {
    font-size: 65px;
    font-weight: 2000;
    color: #F9FAF8;
    margin-bottom: -2px;
    text-wrap: wrap;
}

.subtext {
    font-size: 20px;
    color: #E5E7EB;
}
/* 
.imagePlaceholder {
    object-fit: fill;
    background: rgb(109, 115, 121);
    width: 550px;
    height: 250px;
    margin: 65px;
  
} */

.signUpOne, 
.signUpButtonTwo {
    font-size: 18px;
    background-color: #5B73BF;
    color: white;
    font-weight: bolder;
    padding: 11px 36px;
    border-radius: 10px;
    border: 3px solid;
    border-color: #1f293721;
}

.signUpOne a {
    text-decoration: none;
    color: white;
}

.signUpOne:hover {
    background-color: #1f29374d;
    border-color: #1F2937;
    cursor: pointer;
    color: #5c5c5c;
}

a:hover {
    color: #B4C8E9;
}

.signUpOne a:hover {
    color: rgb(27, 26, 41);
}

.section-1 {
    padding-bottom: 115px;
    background-color: #1b1b1b;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    color: #e1e1e1;
    display: flex;
    justify-content: center;
    margin: 64px;
}

.container {
   display: flex;
   justify-content: center;
   margin-top: -40px;

}

.img {
    width: 170px;
    height: 170px;
    border: 5px solid;
    border-color: #978697;
    border-radius: 15px;
}

.img:hover {
    border: 6px solid;
    border-color: #635763;
    margin-bottom: -2px;
    cursor: pointer;
}

.info {
    width: 170px;
    margin: 40px;
}

.text {
    text-wrap: wrap;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #868686;
}

.section-2 {
    background-color: #1a1b23;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-container {
    width: 800px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    margin-bottom: -36px;
    color: #F9FAF8;
}

.author {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: end;
    color: #F9FAF8;
}

.section-3 {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
}

.blueContainer {
    width: 1100px;
    height: 150px;
    background-color: #232533;
    border-radius: 15px;
    display: flex;
    justify-content: center;

}

.insideContainer {
    display: flex;
    align-items: center;

}

.leftSideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 290px;
}


.titleTwo {
    margin-bottom: -1px;
    color: #F9FAF8;
}

.signUpText {
    display: inine;
    margin-top: -1px;
    color: #E5E7EB;
}


.signUpButtonTwo {
    border-color: #F9FAF8;
    background-color: #232533;
}

.signUpButtonTwo:hover {
    background-color: #322F44;
    text-shadow: 5px white;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.copyright {
    color: #E5E7EB;
    font-size: 20px;

}